<ion-header translucent>

  <ion-toolbar>
  <ion-title>{{data.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen>

  <ion-list>
    <ion-item *ngFor="let qso of qsoEditList; let i = index">
      <ion-label>
      <h2>{{qso.time}} &nbsp; <strong>{{qso.callsign}}</strong> </h2>
      </ion-label>
      <ion-button (click)="showEditDialog(i)" color="tertiary" shape="round">edit</ion-button>
      <ion-button (click)="deleteQso(i)" color="danger" shape="round">delete</ion-button>
    </ion-item>
  </ion-list>

</ion-content> 
