.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

 input, ion-input, ion-select{
    border-radius: 30px;
    border-spacing: 3px;
    border-style: none;
    border-color: #aaaaaa;
    padding: 10px;
    background-color:var(--ion-input-color);
    color: var(--ion-input-text-color);
    width: 97%;
  }

  textarea:focus, input:focus, ion-input.has-focus{
    outline: none;
    border: solid 1px var(--ion-color-secondary);
  }

  .call-input {
    text-transform: uppercase;
  }
  
  ::placeholder { // Chrome, Firefox, Opera, Safari 10.1+
    color: var(--ion-placeholder-color);
    opacity: 1; // Firefox
    font-style: italic;
  }
