<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ this.logType }} Log
    </ion-title>
      <ion-button slot="end" (click)="showSpotsModal()" fill="clear">
        <ion-icon name="megaphone-outline"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-content>
    <ion-grid>
     <ion-row class="ion-align-items-stretch">
        <ion-col>
          <ion-input 
            *ngIf="logType == 'Chaser'; else otherLog"
            [(ngModel)]="form.chaserSummit" 
            type="text" id="summitInput" 
            (ionChange)="this.summitCheck($event)" 
            (ionBlur)="this.saveForm()"
            clear-input="true"
            placeholder="Chaser Summit">
          </ion-input>
          <ng-template #otherLog>
            <ion-input
              [(ngModel)]="form.activatorSummit" 
              type="text" id="summitInput" 
              (ionChange)="this.summitCheck($event)" 
              (ionBlur)="this.saveForm()"
              clear-input="true"
              placeholder="Summit Reference">
            </ion-input>
          </ng-template>
        </ion-col>
        <ion-col>
          <div>
            <ion-select 
              [(ngModel)]="form.mode" 
              placeholder="Mode"
              (ionChange)="this.saveForm()"
              interface="action-sheet">
              <ion-select-option 
                *ngFor="let mode of settings.modes" 
                value="{{ mode }}">
                {{ mode }}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-stretch">
        <ion-col>
          <div>
            <ion-input 
              [(ngModel)]="form.band" 
              type="number" 
              (ionBlur)="this.saveForm()"
              clear-input="true"
              placeholder="MHz">
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input 
              [(ngModel)]="form.callsign" 
              (ionChange)="this.callCheck()"
              (ionBlur)="this.saveForm()"
              clear-input="true"
              class="call-input"
              autocapitalize="characters"
              type="text"
              inputmode="textVisiblePassword" 
              placeholder="Callsign">
            </ion-input>
          </div>
        </ion-col>
     </ion-row>
     <ion-row class="ion-align-items-stretch">
        <ion-col>
          <div>
            <ion-input 
              [(ngModel)]="form.rstTx" 
              (ionBlur)="this.saveForm()"
              clear-input="true"
              type="number" 
              placeholder="RST TX">
            </ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input 
              [(ngModel)]="form.rstRx" 
              (ionBlur)="this.saveForm()"
              clear-input="true"
              type="number" 
              placeholder="RST RX">
            </ion-input>
          </div>
        </ion-col>
     </ion-row>

      <ion-row class="ion-align-items-stretch">
        <ion-col>
          <div>
            <ion-input 
              [(ngModel)]="form.comment" 
              type="text" 
              clear-input="true"
              (ionBlur)="this.saveForm()"
              placeholder="Name/Comment">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showS2sField">
        <ion-col>
          <ion-input 
            [(ngModel)]="form.chaserSummit" 
            type="text" 
            id="s2sInput" 
            clear-input="true"
            (ionChange)="this.summitCheck($event)" 
            (ionBlur)="this.saveForm()"
            placeholder="S2S Summit Reference">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <ion-segment scrollable [(ngModel)]="logType" (ionChange)="changeType()">
	    <ion-segment-button value="Activator">
	      <ion-label>Act</ion-label>
	    </ion-segment-button>
	    <ion-segment-button value="Summit2Summit">
	      <ion-label>S2S</ion-label>
	    </ion-segment-button>
	    <ion-segment-button value="Chaser">
	      <ion-label>Cha</ion-label>
	    </ion-segment-button>
	  </ion-segment> 
        </ion-col>
        <ion-col size="4"> 
          <ion-button color="secondary" expand="block" shape="round" strong="true" (click)="logQso()">
            Add QSO
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-content>
  <ion-list>
    <ion-list-header>
      Recent QSOs 
        (ACT: {{settings.recentQsoStats.act}}
        CHA: {{settings.recentQsoStats.cha}}
        S2S: {{settings.recentQsoStats.s2s}}
        TOT: {{settings.recentQsoStats.total}})
    </ion-list-header>

    <ion-item *ngFor="let qso of settings.recentQsos; let i = index">
      <ion-label>
        <h2>{{qso.time}} &nbsp; <strong>{{qso.callsign}}</strong> </h2>
      </ion-label>
      <ion-button (click)="showEditDialog(i)" color="tertiary" shape="round">edit</ion-button>
      <ion-button (click)="deleteQso(i)" color="danger" shape="round">delete</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
