<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

      <ion-item-divider>
        <ion-label>
          Look & Feel
        </ion-label>
      </ion-item-divider>

        <ion-item lines="full">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>
            Dark Theme
          </ion-label>
          <ion-toggle [(ngModel)]="darkModeToggle" id="darkmodetoggle" (click)="toggleDarkMode()" slot="end"></ion-toggle>
        </ion-item>

        <ion-item-divider>
          <ion-label>
            Operator information
          </ion-label>
        </ion-item-divider>

        <ion-item lines="full">
          <ion-icon slot="start" name="call"></ion-icon>
          <input type="text" slot="end" [(ngModel)]="settings.opData.callsign" (change)="saveOpSettingsToStorage()" placeholder="Callsign"> 
        </ion-item>

        <ion-item lines="full">
          <ion-icon slot="start" name="person"></ion-icon>
          <input type="text" slot="end" [(ngModel)]="settings.opData.name" (change)="saveOpSettingsToStorage()" placeholder="Name"> 
        </ion-item>

        <ion-item-divider>
          <ion-label>
            Export settings 
          </ion-label>
        </ion-item-divider>

        <ion-item lines="full">
          <ion-icon slot="start" name="radio"></ion-icon>
          <ion-label>
            RST in comment 
          </ion-label>
          <ion-toggle [(ngModel)]="settings.exportSettings.rstComment" id="rstcommenttoggle" (ionChange)="toggleExportSettings()" slot="end"></ion-toggle>
        </ion-item>
        <ion-item lines="full">
          <ion-icon slot="start" name="compass"></ion-icon>
          <ion-label>
            S2S reference in comment 
          </ion-label>
          <ion-toggle [(ngModel)]="settings.exportSettings.s2sComment" id="s2scommenttoggle" (ionChange)="toggleExportSettings()" slot="end"></ion-toggle>
        </ion-item>
        <ion-item lines="full">
          <ion-icon slot="start" name="bonfire"></ion-icon>
          <ion-label>
            Add portable suffix <code>/P</code> to operator a summit 
          </ion-label>
          <ion-toggle [(ngModel)]="settings.exportSettings.addPortable" id="addportabletoggle" (ionChange)="toggleExportSettings()" slot="end"></ion-toggle>
        </ion-item>

        <ion-item-divider>
          <ion-label>
            Links 
          </ion-label>
        </ion-item-divider>
        <ion-item lines="full">
          <a href="https://www.sotadata.org.uk/en/upload/activator/csv" target="_blank">
            CSV upload on SotaData
          </a>
        </ion-item>
        <ion-item lines="full">
          <a href="https://codeberg.org/hb9hnt/tSotaLog/issues" target="_blank">
            Issue tracker for tSotaLog 
          </a>
        </ion-item>
        <ion-item lines="full">
          <a href="https://codeberg.org/hb9hnt/tSotaLog" target="_blank">
            Source code of tSotaLog 
          </a>
        </ion-item>
      </ion-list>
</ion-content>
